@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<div>
    <a asp-controller="Home" asp-action="Form">Add a Bowler</a>
</div>

<div class="row m-1 p-1">
    <div class="col-3">
        <p style="text-align;">Important Info Here</p>
    </div>

    <div class="col-9">
        <h1>Bowlers</h1>

        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>First Name</td>
                    <td>Middle Initial</td>
                    <td>Last Name</td>
                    <td>Address</td>
                    <td>City</td>
                    <td>State</td>
                    <td>Zip</td>
                    <td>Phone Number</td>
                    <td>Team Name</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var b in Model) //This line gives me an error-->
                {
                    <tr>
                        <td>@b.BowlerFirstName</td>
                        <td>@b.BowlerMiddleInit</td>
                        <td>@b.BowlerLastName</td>
                        <td>@b.BowlerAddress</td>
                        <td>@b.BowlerCity</td>
                        <td>@b.BowlerState</td>
                        <td>@b.BowlerZip</td>
                        <td>@b.BowlerPhoneNumber</td>
                        @*<td>@b.Team.TeamName</td>*@

                        @*<td>
                                <!--Button to view details of each Bowler in the table-->
                                <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(b.BowlerID)">Details</NavLink>
                            </td>

                            <td>
                                <!--Button to edit a Bowler in the table-->
                                <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(b.BowlerID)">Edit</NavLink>
                            </td>

                            <td>
                                <!--Button to delete a Bowler in the table-->
                                <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveBowler(b))">Delete</button>
                            </td>*@
                    </tr>

                }
            </tbody>
        </table>

        <!--This gives us the ability to add a new book to the database-->
        <NavLink class="btn btn-primary" href="/create">Create</NavLink>
    </div>
</div>


@*@code {
    public IBookstoreRepository repo => Service;

    public IEnumerable<Book>
    BookData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }

    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/books/edit/{id}";

    public async Task RemoveBook (Book b)
    {
        repo.Deletebook(b);
        await UpdateData();
    }

}*@
